h1{
    color: rgb(0, 255, 21);
    background-color: rgba(139, 69, 19, 0.424);
    height: 100px;
    width:auto;
}
p{
    color: cadetblue;
    font-size:25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    text-align: justify;
}
a{
    color: red;
}
img{
    width: fit-content;
    height: 56%;
}   
#idwala{
    color: rgba(153, 205, 50, 0.678);
}   
.noyaclass{
 color: rgb(128, 0, 79);
 background-color: turquoise;
 border:5px solid gold ;
 width: 25%;
 height: 90px;
 border-radius: 7px;
 margin:10px;
 padding: 40px;
 float: left;

 }  

span{
    background-color: rgba(255, 229, 80, 0.815);
}
#divide{
    background-color: rgb(70, 38, 38);
}



h2{
   text-align: center;
}
#lineborabor{
   background-color: gray;
   margin: 100px;
   padding-top: 120px;
}
#maindiv{
   background-color: honeydew;
}
